<html>
<head>
    <!-- head definitions go here -->
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload</h2>
                <a th:href="@{user-update}">Перейти к редактированию пользователя</a>

                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" th:object="${uploadPageModel}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="image" class="form-control-file">
                    </div>
                    <div>
                        <label>
                            Upload output
                        </label>
                        <input type="checkbox" th:field="${uploadPageModel.isOutput}">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>

                </form>
                <form
                        th:object="${uploadPageModel}"
                        id="uploadForm"
                        method="post"
                        th:action="@{/upload_many}"
                        enctype="multipart/form-data">
                    <input type="file" multiple name="files"/>
                    <button class="btn btn-sm btn-outline-success float-right" type="submit">
                        Upload
                    </button>
                    <div>
                        <label>
                            Upload output
                        </label>
                        <input type="checkbox" th:field="${uploadPageModel.isOutputMulti}">
                    </div>
                </form>
                <form th:method="post" th:action="@{/process}">
                    <button type="submit">Получить json</button>
                </form>
                <form th:method="post" th:action="@{/to_file}">
                    <button type="submit">Сохранить json в файл</button>
                </form>
                <div>
                    <label>
                        Inputs
                    </label>
                    <span th:if="${msg != null}" th:text="${msg}"></span>

                </div>
                <div>
                    <label>
                        Outputs
                    </label>
                    <span th:if="${msg2 != null}" th:text="${msg2}"></span>
                </div>
                <div>
                    <label>
                    </label>
                    <span th:if="${inputsSize != null}" th:text="${inputsSize}"></span>

                </div>
                <div>
                    <label>
                    </label>
                    <span th:if="${outputsSize != null}" th:text="${outputsSize}"></span>
                </div>

            </div>
        </div>
    </div>

    <style>
        textarea {
            width: 100%;
            height: 50vh;
        }
    </style>
    <textarea placeholder="{
&#34;input&#34;:&#34;&#34;,
&#34;output&#34;:&#34;&#34;
}" th:object="${resultModel}" th:field="${resultModel.result}"></textarea>
    <form th:method="post" th:action="@{/reset}">
        <button type="submit">Сбросить</button>
    </form>
    <form th:method="post" th:action="@{/reset_last_input}">
        <button type="submit">Сбросить последний input</button>
    </form>
    <form th:method="post" th:action="@{/reset_last_output}">
        <button type="submit">Сбросить последний output</button>
    </form>
</section>

</body>
</html>