<html>
<head>
<body>
<section class="my-5">
    <h2>CSV</h2>
    <a th:href="@{verification-data}">Перейти к конвертору verification-data</a>
    <a th:href="@{sender}">Перейти к отправке результатов</a>
    <div>
        <form method="post" th:action="@{/upload-csv}" th:object="${userUpdaterModel}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="image" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload CSV</button>

        </form>

    </div>
    <div>
        <style>
            textarea {
                width: 100%;
                height: 50vh;
            }
        </style>
        <textarea  th:object="${userUpdaterModel}"
                  th:field="${userUpdaterModel.result}">

        </textarea>

    </div>

</section>
</body>
</head>
</html>